**/.idea
**/.vscode
.idea
.vscode

/backend/target
/backend/.mvn/wrapper/maven-wrapper.jar
/backend/.classpath
/backend/.project
/backend/backend.eml
/backend/backend.iml
/backend/HELP.md
/out
/client/node_modules
/client/package-lock.json